brain/0_warehouse-skills/plugins/Super_Intelligance /social-media-automation/workflows/social-post-to-all.json
{
  "name": "🚀 Social Post to All Platforms",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receive Post",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "value": "={{ $json.platforms.includes('twitter') }}" },
            { "outputIndex": 1, "value": "={{ $json.platforms.includes('linkedin') }}" },
            { "outputIndex": 2, "value": "={{ $json.platforms.includes('facebook') }}" },
            { "outputIndex": 3, "value": "={{ $json.platforms.includes('instagram') }}" },
            { "outputIndex": 4, "value": "={{ $json.platforms.includes('github') }}" },
            { "outputIndex": 5, "value": "={{ $json.platforms.includes('youtube') }}" },
            { "outputIndex": 6, "value": "={{ $json.platforms.includes('pinterest') }}" }
          ]
        },
        "options": { "allMatchingOutputs": true }
      },
      "id": "platform-router",
      "name": "Route to Platforms",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "content": "## 🐦 Twitter / X Branch\n\nConnect your Twitter credential here.\n\n**Setup:**\n1. Double-click this node\n2. Add your Twitter OAuth credential\n3. The text auto-trims to 280 characters",
        "height": 200,
        "width": 250,
        "color": 4
      },
      "id": "twitter-note",
      "name": "Twitter Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 0]
    },
    {
      "parameters": {
        "text": "={{ $json.text.substring(0, 277) }}{{ $json.text.length > 277 ? '...' : '' }}"
      },
      "id": "twitter-format",
      "name": "Format for Twitter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 100]
    },
    {
      "parameters": {
        "content": "## 📊 LinkedIn Branch\n\nConnect your LinkedIn OAuth2 credential here.\n\n**Setup:**\n1. Double-click this node\n2. Add your LinkedIn credential\n3. Posts as professional format",
        "height": 200,
        "width": 250,
        "color": 6
      },
      "id": "linkedin-note",
      "name": "LinkedIn Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 250]
    },
    {
      "parameters": {
        "text": "={{ $json.text.substring(0, 3000) }}"
      },
      "id": "linkedin-format",
      "name": "Format for LinkedIn",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 350]
    },
    {
      "parameters": {
        "content": "## 📘 Facebook Branch\n\nConnect your Facebook Graph API credential here.\n\n**Setup:**\n1. Double-click this node\n2. Add your Page Access Token\n3. Posts to your Facebook Page",
        "height": 200,
        "width": 250,
        "color": 7
      },
      "id": "facebook-note",
      "name": "Facebook Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "text": "={{ $json.text }}"
      },
      "id": "facebook-format",
      "name": "Format for Facebook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 600]
    },
    {
      "parameters": {
        "content": "## 📸 Instagram Branch\n\nConnect via Facebook Graph API (Instagram Business).\n\n**Note:** Instagram API requires an image_url.\nText-only posts are not supported.",
        "height": 200,
        "width": 250,
        "color": 5
      },
      "id": "instagram-note",
      "name": "Instagram Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 750]
    },
    {
      "parameters": {
        "text": "={{ $json.text.substring(0, 2200) }}"
      },
      "id": "instagram-format",
      "name": "Format for Instagram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 850]
    },
    {
      "parameters": {
        "content": "## 🐙 GitHub Branch\n\nConnect your GitHub Personal Access Token.\n\n**Use for:** Release notes, Discussion posts, README updates",
        "height": 180,
        "width": 250,
        "color": 2
      },
      "id": "github-note",
      "name": "GitHub Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [700, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Posted to selected platforms', platforms: $json.platforms }) }}"
      },
      "id": "response-node",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "content": "# 🚀 Social Media Automation\n\n## How to Use\n\n**Option 1: Webhook (for agents/apps):**\n```\nPOST http://localhost:5678/webhook/social-post\n{\n  \"text\": \"Your content here\",\n  \"image_url\": \"https://...\",\n  \"platforms\": [\"twitter\", \"linkedin\", \"facebook\"]\n}\n```\n\n**Option 2: Manual trigger:**\nClick 'Test workflow' and provide test data.\n\n## Adding a New Platform\n1. Add a new output to the Switch node\n2. Add a Format node (trim to platform's char limit)\n3. Add the platform's API node\n4. Connect credential → Done!",
        "height": 400,
        "width": 350,
        "color": 1
      },
      "id": "instructions-note",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-150, 100]
    }
  ],
  "connections": {
    "Receive Post": {
      "main": [
        [
          { "node": "Route to Platforms", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route to Platforms": {
      "main": [
        [{ "node": "Format for Twitter", "type": "main", "index": 0 }],
        [{ "node": "Format for LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "Format for Facebook", "type": "main", "index": 0 }],
        [{ "node": "Format for Instagram", "type": "main", "index": 0 }],
        [],
        [],
        []
      ]
    },
    "Format for Twitter": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Format for LinkedIn": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Format for Facebook": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Format for Instagram": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "social-media" },
    { "name": "automation" }
  ]
}
